/**
 * @package gattoverde
 */

/* 
	Font Icon 
	------------------------------------------------
*/

@font-face {
    font-family: 'sunset-icon';
    src:    url('fonts/sunset-icon.eot?dxcjr7');
    src:    url('fonts/sunset-icon.eot?dxcjr7#iefix') format('embedded-opentype'),
        url('fonts/sunset-icon.ttf?dxcjr7') format('truetype'),
        url('fonts/sunset-icon.woff?dxcjr7') format('woff'),
        url('fonts/sunset-icon.svg?dxcjr7#sunset-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gattoverde-icon { font-family: 'sunset-icon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 
.gattoverde-audio:before { content: "\e800"; } 
.gattoverde-chevron-left:before { content: "\e801"; } 
.gattoverde-chevron-right:before { content: "\e802"; } 
.gattoverde-close:before { content: "\e803"; } 
.gattoverde-comment:before { content: "\e804"; } 
.gattoverde-link:before { content: "\e805"; } 
.gattoverde-loading:before { content: "\e806"; } 
.gattoverde-logo:before { content: "\e807"; } 
.gattoverde-menu:before { content: "\e808"; } 
.gattoverde-pencil:before { content: "\e809"; } 
.gattoverde-pics:before { content: "\e80a"; } 
.gattoverde-search:before { content: "\e80b"; } 
.gattoverde-share:before { content: "\e80c"; } 
.gattoverde-tag:before { content: "\e80d"; } 
.gattoverde-video:before { content: "\e80e"; }


html, body {
	font-family: 'Raleway', sans-serif;
}

/*
Generic
 */
.background-image {
	background-position: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.table-cell, .table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/*
Header Section
 */

.header-container {
	position: relative;
	display: block;
	height: 362px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.site-title {
	color: #ffffff;
	margin: 0;
	font-size: 80px;
}

.site-description {
	font-size: 14px;
	color: #ffffff;
	margin-top: 1em;
}