/**
 * Style Part
 * @package gattoverde
 */

//
// Mixins and Variables
// ------------------------------------------------

@import "base/variables"
@import "base/mixins"
@import "base/placeholders"

// 
// Font Icon 
// ------------------------------------------------

@import "base/font-icon"

//
// Generic
// ------------------------------------------------

@import "base/generic"

/**
 * Header Section
 */

.header-container 
	position: relative
	display: block
	height: 362px
	@extend %text-shadow

.site-title 
	color: #ffffff
	margin: 0
	font-size: 80px

.site-description 
	font-size: 14px
	color: #ffffff
	margin-top: 1em

.nav-container
	position: absolute
	bottom: 0
	left: 0
	right: 0

.navbar-gattoverde
	text:
		align: center
	border: none
		radius: 0
	min-height: auto
	margin: 
		bottom: 0

	background:
		color: transparentize( #ffffff, 0.9 )

	border: 1px solid transparentize( #ffffff, 0.9 )

	.navbar-nav
		margin: 0 auto

	li
		a
			text:
				transform: uppercase
				decoration: none
				align: center
			font:
				size: 12px
			padding: 8px 12px
			color: #ffffff !important
			opacity: 0.7
			display: block
			position: relative
			+animate( opacity, 320ms )

			&:visited, &:focus, &:hover
				background: none
				opacity: 1
			&:hover
				&:after
					opacity: 1
					+transform( translateY( 0px ) )
					// +transform( scale( 1 ) )

			&::after
				content: ''
				position: absolute
				display: block
				left: 10px
				right: 10px
				bottom: 5px 
				height: 1px
				background: #ffffff
				opacity: 0
				+transform( translateY( 5px ) )
				// +transform( scale( 0 ) )
				+animate( all, 320ms )

//
// Standard Post Format
// ------------------------------------------------

article
	margin:
		bottom: 60px

h1
	font:
		size: 48px
		weight: 200

	&.entry-title
		line-height: 1.5rem
		margin: 40px 0 20px
		padding: 0
		display: inline-block

		&::before, &::after
			content: "~"
			display: inline-block
			position: relative
		&::before
			margin:
				right: 10px
		&::after
			margin:
				left: 10px

.entry-meta
	font:
		size: 13px
		weight: 300
		color: $light-grey
	margin:
		bottom: 20px

	a
		font:
			weight: 500
		color: $light-grey

		&:hover, &:focus
			color: $dark-grey

.entry-excerpt
	margin: 30px 0 16px
	
	p
		font:
			size: 17px
			weight: 300
		line-height: 1.5em
		letter-spacing: 0.02em

.entry-footer
	padding: 10px 5px
	border:
		bottom: 4px solid $lighter-grey
	color: $light-grey
	text:
		transform: uppercase

	a
		color: $light-grey
		display: inline-block
		padding: 0 4px
		font:
			size: 12px

	.tags-list
		a
			padding: 0 4px
		.gattoverde-icon
			margin:
				right: 5px

	.comments-link
		.gattoverde-comment
			margin:
				left: 5px

.standard-featured-link
	display: block
	position: relative

	&:hover, &:focus
		.standard-featured
			&::after
				background:
					color: transparent

.standard-featured
	display: block
	height: 300px
	position: relative

	&::after
		content: ''
		position: absolute
		display: block
		top: 0
		bottom: 0
		right: 0
		left: 0
		background:
			color: transparentize( #000000, 0.85 )
		box-shadow: inset 0 0 15px transparentize( #000000, 0.5 )
		+animate( all, 320ms )

.btn-gattoverde
	text:
		transform: uppercase
	font:
		size: 14px
		weight: 500
	color: $light-grey
	padding: 8px 18px
	border: 1px solid $light-grey
		radius: 0px
	background:
		color: transparent
	+animate( all, 320ms )

	&:hover, &:focus
		color: #ffffff
		border:
			color: $dark-grey
		background:
			color: $dark-grey

//
// Image Post Format
// ------------------------------------------------

.gattoverde-format-image
	margin:
		top: 50px

	.entry-header
		height: 550px
		@extend %text-shadow
		position: relative

	h1, .entry-meta, .entry-header
		color: #ffffff

		a
			color: #ffffff

	h1
		padding:
			top: 10px

	.entry-excerpt

		&.image-caption
			position: absolute
			left: 0
			right: 0
			bottom: 0
			@extend %background-gradient
			margin: 0

			p
				margin: 20px 0