/**
 * @package gattoverde
 */

=animate( $attr, $time )
	-webkit-transition: $attr $time ease
	-o-transition: $attr $time ease
	transition: $attr $time ease

=transform( $val )
	-webkit-transform: $val
	-ms-transform: $val
	-o-transform: $val
	transform: $val